# This file contains common pin mappings for the BIGTREETECH SKR V1.3
# board. To use this config, the firmware should be compiled for the
# LPC1768.

# See the example.cfg file for a description of available parameters.
[include mainsail.cfg]


[include KAMP_Settings.cfg]
[include EDR/fans.cfg]
[include EDR/steppers.cfg]
[include EDR/extruder.cfg]
[include EDR/heatbed.cfg]
[include EDR/edrmacros.cfg]
#[include EDR/adxlmcu.cfg]

[exclude_object]

[mcu]
# serial: /dev/ttyAMA0 #rpi serial connection
serial: /dev/serial/by-id/usb-Klipper_lpc1768_15E00010031436AF0EF56A5BC52000F5-if00

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1000
max_z_velocity: 50
max_z_accel: 200

[virtual_sdcard]
path: ~/KlipEnder_data/gcodes
on_error_gcode: CANCEL_PRINT

[filament_switch_sensor fsensor]
pause_on_runout: True
runout_gcode:
    M118 Filament Runout Detected
    UNLOAD_FILAMENT
insert_gcode:
    M118 Filament Load Detected
    LOAD_FILAMENT
event_delay: 3.0
switch_pin: !P1.28

[display]
lcd_type: st7920
cs_pin: P1.19
sclk_pin: P1.21
sid_pin: P1.23
encoder_pins: ^P1.18, ^P1.20
click_pin: !P0.28

[output_pin beeper]
pin: P1.30

[z_tilt]
z_positions: -30,110 
  265,110 
points: 0,110 
  203,110
retries: 5
retry_tolerance: 0.02 
speed:120

[display_status]

[force_move]
enable_force_move: TRUE

[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=BEEPER_pin VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=BEEPER_pin VALUE=0

[gcode_macro _M600]
gcode:
    {% set X = params.X|default(230)|int %}
    {% set Y = params.Y|default(230)|int %}
    {% set Z = params.Z|default(10)|int %}
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000

[delayed_gcode clear_display]
initial_duration: 0.
gcode:
  M117

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set X = params.X|default(200)|int %}
    {% set Y = params.Y|default(200)|int %}
    {% set Z = params.Z|default(20)|int %}
    {% set E = params.E|default(1)|int %}
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    {% set E = params.E|default(1)|int %}
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    # Raise nozzle by 10mm
    G1 Z60 F3000
    G90
    # Disable steppers
    M84

[gcode_macro M900]
gcode:
    SET_PRESSURE_ADVANCE ADVANCE=0.052

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.179
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.146604, 0.171604, 0.191604, 0.204104, 0.179104
#*# 	0.152437, 0.178270, 0.189937, 0.200770, 0.174937
#*# 	0.170770, 0.210770, 0.214937, 0.221604, 0.190770
#*# x_count = 5
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 64.289
#*# max_x = 170.68900000000002
#*# min_y = 87.857
#*# max_y = 153.49699999999999
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 36.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 29.6
